<h1>Create a user!</h1>
<form  action="<%= users_url %>" method="POST">
  <label for="user_name">Username: </label>
  <input id="user_name" type="text" name="user[user_name]">
  <br>
  <br>
  <label for="password">Password: </label>
  <input id="password" type="text" name="user[password]">
  <br> <br>
  <input type="submit" value="Submit">
</form>
